
body{
   background-color: rgb(105, 0, 0); 
    
    color: rgb(142, 0, 0);
}
h1{
    font-family: Impact, fantasy;
    font-size: 90px; 
    background-color: rgba(53, 50, 50, 0.2);
    text-shadow:3px 3px 5px rgb(64, 4, 4);

}

p{
    font-family: Georgia, serif; 
    padding-top: 20px; 
    padding-bottom: 20px;
    font-size: 22px; 
    background-color: rgba(53, 50, 50, 0.7);
}
#introbg{
    height: 100vh; 
    width: 100vw;
    object-fit: cover; 
    margin-bottom: -8px; 
}
#Pop{
    font-size: 29px; 
    text-shadow: 3px 3px 3px rgb(62, 0, 0);
    color: rgb(255, 255, 255);
    background-image: url(bgpop.png); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-size: 25px; 
    text-shadow: 2px 2px 5px rgb(62, 0, 0);;
    min-height: 100vh;   
     min-width: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 60px;

}
#Pop h1{
color: rgb(255, 136, 186);
}
#popPlay, #rockPlay, #hipPlay, #rbPlay, #folkPlay{
    padding-bottom: 100px; 
    margin-left: -30%; 
    height: 110%; 
    width: 110%; 
}
#popSound, #rockSound, #hipSound, #rbSound, #folkSound{
    padding-top: 25px; 
    margin-left: -20%; 
     height: 110%; 
    width: 110%; 
}
#popSound .img-caption {
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

#Rock{
     font-size: 30px; 
    text-shadow: 3px 3px 3px rgb(62, 0, 0);
    color: rgb(255, 255, 255);


    background-image: url(bgrock.png); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-size: 25px; 
    text-shadow: 2px 2px 5px rgb(62, 0, 0);;
    min-height: 110vh;   
     min-width: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 60px;
}

#Rock h1{
color: rgb(165, 0, 0); 
text-shadow: 3px 3px 5px rgb(255, 216, 216); 
font-size: 100px; 
}

#Hip-Hop{
     font-size: 30px; 
    text-shadow: 3px 3px 3px rgb(62, 0, 0);
    color: rgb(255, 203, 203);


    background-image: url(bghip.png); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-size: 25px; 
    text-shadow: 2px 2px 5px rgb(62, 0, 0);;
    min-height: 100vh;   
     min-width: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 60px;
}
#Hip-Hop h1{ 
color: rgb(145, 31, 31);
text-shadow: 3px 3px 3px rgb(185, 136, 136); 
}

#RnB{
 font-size: 30px; 
    text-shadow: 3px 3px 3px rgb(62, 0, 0);
    color: rgb(255, 190, 190);


    background-image: url(bgrb.png); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 40px;          
    font-size: 25px; 
    text-shadow: 2px 2px 5px rgb(62, 0, 0);;
    min-height: 100vh;   
     min-width: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 60px;
}
#RnB h1{
color: rgb(175, 70, 70);
text-shadow: 4px 4px 3px rgb(104, 15, 15); 
}

#Folk{
    font-size: 30px; 
    text-shadow: 3px 3px 3px rgb(62, 0, 0);
    color: rgb(244, 153, 153);


    background-image: url(bgfolk.png); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 40px;          
    font-size: 25px; 
    text-shadow: 2px 2px 5px rgb(62, 0, 0);;
    min-height: 100vh;   
     min-width: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 60px;
}
#Folk h1{
color: rgb(149, 57, 57);
text-shadow: 4px 4px 3px rgb(62, 9, 9); 

}

#popPicCarousel .carousel-inner, #rockPicCarousel .carousel-inner, #folkPicCarousel .carousel-inner, #rbPicCarousel .carousel-inner, #hipPicCarousel .carousel-inner {
    height: 110%; 
    width: 110%; 
    margin-left: -20%;
}

#popPicCarousel .carousel-item img, #rockPicCarousel .carousel-item img,
#folkPicCarousel .carousel-item img, #rbPicCarousel .carousel-item img,
#hipPicCarousel .carousel-item img {
    height: 100%;
    object-fit: cover; 
}
#popPicCarousel, #rockPicCarousel, #folkPicCarousel, #rbPicCarousel, #hipPicCarousel {
    position: relative;
}
#popPicCarousel .carousel-control-prev,
#popPicCarousel .carousel-control-next, #rockPicCarousel .carousel-control-prev,
#rockPicCarousel .carousel-control-next, #folkPicCarousel .carousel-control-prev,
#folkPicCarousel .carousel-control-next, #rbPicCarousel .carousel-control-prev,
#rbPicCarousel .carousel-control-next, #hipPicCarousel .carousel-control-prev,
#hipPicCarousel .carousel-control-next {
    top: 50%; 
    margin-left: -20%; 
    margin-right:10%; 
    transform: translateY(-50%);
}

#popPicCarousel .carousel-indicators, #rockPicCarousel .carousel-indicators,
#folkPicCarousel .carousel-indicators, #rbPicCarousel .carousel-indicators,
#hipPicCarousel .carousel-indicators {
    margin-left: -50px; 
}

.img-hover-wrapper {
    position: relative;
}
.img-caption{
    position: absolute;
    pointer-events: none; 
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: inline-block; 
}
.img-caption span {
    padding: 5px; 
    border-radius: 5px; 
    display: inline-block;
    color: white; 
    text-shadow: 3px 3px 5px black;
}
:root {
  scroll-padding-top: 120px; 
}
.navbar .nav-link, .navbar .navbar-brand {
    font-size: 1.5rem;   
    color: #ffe8e8;  
    text-shadow:3px 3px 3px #290505; 
    font-family: Impact, Fantasy; 
    font-size: 35px; 
    padding-right: 25px;  
}

.navbar .nav-link:hover {
    color: #ffaeae; 
    text-shadow:3px 3px 3px #9c3232; 

} 

#artistInfo{
    background-image: url(bg.png); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    width:100vw; 
    display: flex; 
    gap: 30px; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#artistButtons{
     display: flex;
    flex-direction: row;
    align-items: center;     
    justify-content: center; 
    gap: 20px;
    padding: 8px 50px;
    width: auto;    
}


#fetchBtn{
     font-family: Impact, fantasy; 
    color:#7a0000;  
    font-size: 50px;  
     width: auto;
     border-radius: 10px;
     background: white;
     padding: 8px 50px; 
     white-space: nowrap;

}
#artistName::placeholder, #artistName{
    font-family: Impact, fantasy; 
    color:#7a0000;  
    font-size: 50px;  
    width: 500px;
}

input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-right: 20px; 
  border-radius: 10px;
  margin-top: -20px; 
  margin-top: -10px; 
}
input:focus {
  outline: none;
  border: 4px solid #3e0c0a;
  background:#f6dbdb; 
}

    
#output{
    font-family: Georgia, serif; 
    color: #ffd4d4; 
    white-space: pre-wrap;   
    word-wrap: break-word; 
    text-align: center;         
    overflow-x: hidden;
    font-size: 130%; 
    background-color: rgba(53, 50, 50, 0.7);
    text-shadow: 3px 3px 3px rgb(38, 5, 5); 
}

#artistButtons.shrink {
    transform: scale(0.8);
}
